@import "tailwindcss";

@theme {
  --color-espresso: #553a34;
  --color-terracotta: #974726;
  --color-sienna: #553d00;
  --color-cream: #fcf9f4;
  --color-surface: #ebe8e3;
  --color-outline: #dac2b6;

  --font-sans: "Plus Jakarta Sans", "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-cream text-espresso antialiased overflow-hidden font-sans;
  }
}